.header {
    padding: 1rem;
    line-height: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header a {
    text-decoration: none;
    text-align: center;
}

.logo {
    border-radius: 100%;
    box-shadow: 1px 1px 10px white;
    width: 140px;
    height: 140px;
    background-color: transparent;
}