.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    outline: 1px solid red;
}

.planet {
    font-size: 5rem;
    transform: scaleX(-1);
    margin-right: 1rem;
}