.panel {
    margin: 0 auto;
    max-width: 90%;
}

@media screen and (min-width: 600px) {
    .panel {
        display: flex;
        gap: 1rem;
    }

    .panel > * {
        flex-basis: 100%;
    }
}